<table>
    <thead>
        <tr>nombre</tr><tr>edad</tr>
    </thead>
    <tbody>
        <tr><td>alvaro</td><td>25</td></tr>
        <tr><td>juan</td><td>22</td></tr>
        <tr><td>carlos</td><td>30</td></tr>
        <tr><td>juaquin</td><td>25</td></tr>
    </tbody>
</table>
